<div class="container">
  <h1 class="mat-h1 header">
    NGX-MATERIAL-POPUP
  </h1>
  <h2 class="mat-h2 header">
    Angular material popups boxes (alert, confirm, popup)
  </h2>
  <h2 class="mat-h2">
    Native popups:
  </h2>
  <div>
    <button mat-raised-button color="accent" (click)="showNativeAlert()">
      SHOW ALERT
    </button>
    <button mat-raised-button color="accent" (click)="showNativeConfirm()">
      SHOW CONFIRM
    </button>
    <button mat-raised-button color="accent" (click)="showNativePrompt()">
      SHOW PROMPT
    </button>
  </div>
  <h2 class="mat-h2">
    Default popups:
  </h2>
  <div>
    <button mat-raised-button color="primary" (click)="showAlert('Default alert')">
      SHOW ALERT
    </button>
    <button mat-raised-button color="primary" (click)="showConfirm('Default confirm')">
      SHOW CONFIRM
    </button>
    <button mat-raised-button color="primary" (click)="showPrompt('Default prompt', 'Some value')">
      SHOW PROMPT
    </button>
  </div>
  <h2 class="mat-h2">
    Popups with config:
  </h2>
  <div>
    <button mat-raised-button color="warn" (click)="showAlert(alertConfig)">
      SHOW ALERT
    </button>
    <button mat-raised-button color="warn" (click)="showConfirm(confirmConfig)">
      SHOW CONFIRM
    </button>
    <button mat-raised-button color="warn" (click)="showPrompt(promptConfig)">
      SHOW PROMPT
    </button>
  </div>
  <h4 class="mat-h4">
    Result after last popup close: <code>{{result | json}}</code>
  </h4>
  <mat-divider></mat-divider>
  <h3 class="mat-h3">
    Configs:
  </h3>
  <em>alertConfig: AlertPopupConfig</em>
  <pre>{{alertConfig | json}}</pre>
  <em>confirmConfig: ConfirmPopupConfig</em>
  <pre>{{confirmConfig | json}}</pre>
  <em>promptConfig: PromptPopupConfig</em>
  <pre>{{promptConfig | json}}</pre>
</div>