.container {
  padding: 16px;
}

.header {
  text-align: center;
}

div button {
  margin-right: 16px;
  margin-bottom: 16px;
}

mat-divider {
  margin-bottom: 16px;
}

pre {
  white-space: pre-wrap;
}
